/* Card Wrapper & Card */
.cardWrapper {
  --ease: var(--ease-gleasing);
  --transition-duration: 600ms;

  @media (--mobile) {
    overflow: hidden;
  }

  .card {
    width: 100%;
    transition:
      width var(--ease) var(--transition-duration),
      background-color var(--ease) var(--transition-duration),
      border-color var(--ease) var(--transition-duration),
      height var(--ease) var(--transition-duration);

    @media (--desktop) {
      width: desktop-vw(264px);
    }

    &.cardOpen {
      @media (--mobile) {
        background-color: var(--color-black);
        height: mobile-vw(311px);

        .plusButton {
          opacity: 0;
        }

        .cardHeader {
          height: mobile-vw(40px);
          box-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);
          border-color: var(--color-teal);
          background-color: var(--color-teal);
        }

        .cardVideo {
          opacity: 0;
          transform: scale(0.3);
        }

        .cardTitle {
          transform: translateY(mobile-vw(-3px));
        }

        .cardContent {
          opacity: 1;
          transform: translate(0, 0);
        }

        .hashPattern {
          opacity: 1;
        }

        .crossButton {
          opacity: 1;
        }
      }
    }
  }

  @media (--hover) {
    &:hover {
      .card {
        box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
        background-color: var(--color-black);

        @media (--desktop) {
          width: desktop-vw(322px);
        }

        .cardHeader {
          box-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);
          border-color: var(--color-teal);
          background-color: var(--color-teal);

          @media (--desktop) {
            height: desktop-vw(50px);
          }

          .cardTitle {
            @media (--desktop) {
              transform: translateY(
                calc(-1 * (desktop-vw(24px) - desktop-vw(16px)))
              );
            }
          }
        }

        .cardVideo {
          transform: scale(0.3);
          transform-origin: top;
          opacity: 0;
        }

        .plusButton {
          opacity: 0;
          pointer-events: none;
          transition-delay: 0s;

          /* @media (--desktop) {
            transform: translateX(desktop-vw(-80px));
          } */
        }

        .cardContent {
          opacity: 1;
          transform: translate(0, 0);
        }

        .hashPattern {
          opacity: 1;
        }
      }

      .cardCTA {
        @media (--desktop) {
          opacity: 1;
          transform: translateX(-20%);
        }
      }
    }
  }
}

/* Card Components */
.cardHeader {
  transition:
    height var(--ease) var(--transition-duration),
    background-color var(--ease) var(--transition-duration);
}

.cardTitle {
  transition: transform var(--ease) var(--transition-duration);
}

.cardVideo {
  transition:
    transform var(--ease) var(--transition-duration),
    opacity var(--ease) var(--transition-duration);
}

.cardContent {
  transition:
    opacity var(--ease) var(--transition-duration),
    transform var(--ease) var(--transition-duration);
  opacity: 0;
  transform: translate(desktop-vw(-80px), desktop-vw(30px));
}

.cardCTA {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition:
    opacity var(--ease) var(--transition-duration),
    transform var(--ease) var(--transition-duration);

  @media (--mobile) {
    top: mobile-vw(239px);
    z-index: 10;

    svg {
      transform: rotate(135deg);
    }
  }

  @media (--desktop) {
    left: 40%;
    bottom: desktop-vw(20px);
    opacity: 0;
  }
}

.plusButton {
  position: absolute;
  transition: opacity var(--ease) 0.3s;
  /* transform var(--ease) var(--transition-duration); */
  bottom: mobile-vw(12px);
  right: mobile-vw(12px);

  @media (--desktop) {
    left: 50%;
    transition-delay: 0.4s;
    bottom: desktop-vw(32px);
    transform: translateX(-50%);
  }
}

.crossButton {
  svg {
    transform: rotate(45deg);
    path {
      stroke: var(--color-teal);
    }
  }
}

/* Person Card */
.person {
  position: relative;

  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;

  @media (--hover) {
    &:hover {
      border-style: dashed;
      border-color: color-mix(in srgb, var(--color-forest) 50%, transparent);
      /* box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7); */
      box-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);

      .role {
        background-color: var(--color-ghost-mint);
      }

      /* &:after {
        box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
      } */

      &:before {
        opacity: 0.8;
      }
    }
  }

  /* Apply hover styles on mobile when card is in viewport */
  @media (hover: none) {
    &.personInViewport {
      border-style: dashed;
      border-color: color-mix(in srgb, var(--color-forest) 50%, transparent);
      /* box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7); */
      box-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);

      .role {
        background-color: var(--color-ghost-mint);
      }

      /* &:after {
        box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
      } */

      &:before {
        opacity: 0.8;
      }
    }
  }

  /* &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: desktop-vw(20px);
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    z-index: -2;
    pointer-events: none;
  } */

  &:before {
    content: "";
    position: absolute;
    inset: calc(-1 * mobile-vw(8px));
    background-color: var(--color-off-white);
    border-radius: mobile-vw(28px);
    transform-origin: center;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    @media (--desktop) {
      inset: calc(-1 * desktop-vw(8px));
      border-radius: desktop-vw(28px);
    }
  }
}

.role {
  transition: background-color 0.3s ease;
}

/* Marquee */
.marquee {
  position: relative;
  padding: mobile-vw(40px) 0;
  margin: calc(-1 * mobile-vw(40px)) 0;

  @media (--desktop) {
    padding: desktop-vw(40px) 0;
    margin: calc(-1 * desktop-vw(40px)) 0;
  }
}
