.card {
  --deg: -10deg;
  --index: 0;

  transform-origin: left center;
  transform: translateX(calc(var(--index) * -8%))
    translateY(calc(var(--index) * -8%)) skewY(var(--deg));
}

.card:nth-of-type(1) {
  --index: -2;
}

.card:nth-of-type(2) {
  --index: -1;
}

.card:nth-of-type(3) {
  --index: 0;
}

.card:nth-of-type(4) {
  --index: 1;
}
