.mapTooltip {
  position: absolute;
  bottom: desktop-vw(8px);
  left: desktop-vw(8px);
  width: desktop-vw(227px);
  height: desktop-vw(32px);
  border-radius: desktop-vw(16px);
  padding-left: desktop-vw(4px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-white);
  overflow: hidden;
  clip-path: inset(0 calc(100% - desktop-vw(32px)) 0 0 round desktop-vw(16px));
  transition: clip-path 0.3s ease-in-out;

  .tooltipText {
    position: absolute;
    left: desktop-vw(36px);
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: desktop-vw(10px);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: desktop-vw(24px);
    height: desktop-vw(24px);
    background-color: var(--color-off-white);
    border-radius: desktop-vw(12px);
    z-index: 1;
  }

  @media (--hover) {
    &:hover {
      clip-path: inset(0 0 0 0 round desktop-vw(16px));
    }
  }
}

.mapMarkerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: desktop-vw(9px);

  .mapMarker {
    /* opacity: 0; */
    border-radius: desktop-vw(12px);
    border: 1px solid var(--color-dark-teal);
    padding-left: desktop-vw(8px);
    padding-block: desktop-vw(2px);
    padding-right: desktop-vw(2px);
    background-color: var(--color-white);
    transition:
      opacity 0.3s ease-in-out,
      width 0.3s ease-in-out,
      padding-right 0.3s ease-in-out;
    width: desktop-vw(20px);
    height: desktop-vw(20px);

    .mapMarkerText {
      color: var(--color-teal);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      white-space: nowrap;
    }

    .icon {
      position: absolute;
      z-index: 1;
      background-color: var(--color-black);
      top: 0;
      right: desktop-vw(2px);
    }
  }

  @media (--hover) {
    &:hover {
      .mapMarker {
        opacity: 1;
        width: 100%;
        padding-right: desktop-vw(24px);

        .mapMarkerText {
          opacity: 1;
        }

        .icon {
          background-color: var(--color-teal);
        }
      }
    }
  }
}
