.button,
.snippet {
  --duration: 600ms;
  --ease: ease;
  --glow: 0 0 24px 8px rgba(127, 255, 195, 0.8);
}

.button {
  background-color: var(--color-white);
  border: 2px solid var(--color-dark-grey);
  position: relative;
  gap: desktop-vw(12px);
  transition:
    background-color var(--duration) var(--ease),
    color var(--duration) var(--ease),
    border-color var(--duration) var(--ease),
    box-shadow var(--duration) var(--ease),
    gap var(--duration) var(--ease);

  @media (--hover) {
    &:hover {
      background-color: var(--color-black);
      color: var(--color-teal);
      border-color: var(--color-teal);
      box-shadow: var(--glow);
      gap: desktop-vw(24px);

      .arrow {
        &::before {
          transform: scale(1.25);
        }

        &::after {
          transform: scale(1.5);
        }
      }
    }
  }

  svg path {
    transition: stroke var(--duration) var(--ease);
  }

  &.isBlack {
    background-color: var(--color-black);
    border-color: var(--color-teal);
    color: var(--color-teal);

    svg path {
      transition: stroke var(--duration) var(--ease);
    }

    @media (--hover) {
      &:hover {
        background-color: var(--color-teal);
        color: var(--color-black);

        .arrow {
          background-color: var(--color-black);

          svg path {
            stroke: var(--color-teal);
          }

          &::before,
          &::after {
            background-color: var(--color-black);
          }
        }
      }
    }
  }

  &.isSecondary {
    background-color: transparent;
    border: none;
    color: var(--color-teal);

    .arrow {
      transition: box-shadow var(--duration) var(--ease);
    }

    @media (--hover) {
      &:hover {
        box-shadow: none;

        .arrow {
          box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
        }

        .text {
          &::before {
            width: 100%;
            transform: scaleX(1);
          }
        }
      }
    }

    .text {
      position: relative;

      &::before {
        transition: transform var(--duration) var(--ease);
        content: "";
        position: absolute;
        bottom: desktop-vw(-3px);
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        height: 1px;
        background-color: var(--color-teal);
      }
    }
  }

  /* TODO: Not sure about this event */

  /* &.isSnippet {
    pointer-events: none;
  } */
}

.snippet {
  opacity: 0;
  pointer-events: none;
  clip-path: inset(0 0 100% 0 round desktop-vw(16px));
  transform-origin: top;
  transition:
    opacity var(--duration) var(--ease),
    clip-path var(--duration) var(--ease),
    box-shadow var(--duration) var(--ease);
  background-color: var(--color-black);
  color: var(--color-teal);

  & > * {
    transform: translateY(desktop-vw(20px));
    transition: transform var(--duration) var(--ease);
  }
}

.wrapper {
  @media (--hover) {
    &:has(.snippet)::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: desktop-vw(20px);
    }

    &:hover {
      .snippet {
        opacity: 1;
        pointer-events: auto;
        clip-path: inset(0 0 0 0 round desktop-vw(16px));

        &:hover {
          clip-path: inset(
            desktop-vw(-50px) desktop-vw(-50px) desktop-vw(-50px)
              desktop-vw(-50px) round desktop-vw(16px)
          );
          box-shadow: var(--glow);
          svg path {
            stroke: var(--color-teal);
          }
        }

        & > * {
          transform: translateY(0);
        }
      }

      /* Maintain snippet style on the button when hovering the wrapper (includes hovering the snippet) */
      .isSnippet {
        gap: desktop-vw(143px);
        background-color: var(--color-black);
        color: var(--color-teal);
        border-color: var(--color-teal);
        box-shadow: var(--glow);

        .arrow {
          &::before {
            transform: scale(1.25);
          }

          &::after {
            transform: scale(1.5);
          }
        }
      }

      /* Controls the button box */
      &:has(.snippet:hover) .isSnippet {
        border-color: var(--color-dark-grey);
        color: var(--color-white);
        box-shadow: none;

        .arrow {
          background-color: var(--color-white);

          &::before,
          &::after {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.arrow {
  position: relative;

  &::before,
  &::after {
    content: "";
    transition:
      transform var(--duration) var(--ease),
      background-color var(--duration) var(--ease);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-mint);
    border-radius: desktop-vw(10px);
  }

  &::before {
    opacity: 0.4;
    z-index: 0;
  }

  &::after {
    opacity: 0.2;
  }
}
