.button {
  background-color: var(--color-white);
  border: 2px solid var(--color-dark-grey);
  position: relative;
  gap: desktop-vw(12px);
  transition:
    background-color 300ms ease,
    color 300ms ease,
    border-color 300ms ease,
    box-shadow 300ms ease,
    gap 300ms ease,
    margin-left 300ms ease;

  @media (--hover) {
    &:hover {
      background-color: var(--color-black);
      color: var(--color-teal);
      border-color: var(--color-teal);
      box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.8);
      /* gap: desktop-vw(24px); */

      .arrow {
        &::before {
          transform: scale(1.25);
        }

        &::after {
          transform: scale(1.5);
        }
      }
    }

    /* &:first-child:hover,
    &:first-child:has(~ &:hover) {
      margin-left: calc(desktop-vw(6px) * -1);
    } */
  }

  &.isBlack {
    background-color: var(--color-black);
    border-color: var(--color-teal);
    color: var(--color-teal);

    svg {
      path {
        transition: stroke 300ms ease;
      }
    }

    @media (--hover) {
      &:hover {
        background-color: var(--color-teal);
        color: var(--color-black);

        .arrow {
          background-color: var(--color-black);

          svg {
            path {
              stroke: var(--color-teal);
            }
          }

          &::before {
            background-color: var(--color-black);
          }

          &::after {
            background-color: var(--color-black);
          }
        }
      }
    }
  }

  &.isSecondary {
    background-color: transparent;
    border: none;
    color: var(--color-teal);

    .arrow {
      transition: box-shadow 300ms ease;
    }

    @media (--hover) {
      &:hover {
        box-shadow: none;

        .arrow {
          box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
        }

        .text {
          &::before {
            width: 100%;
            transform: scaleX(1);
          }
        }
      }
    }

    .text {
      position: relative;

      &::before {
        transition: transform 300ms ease;
        content: "";
        position: absolute;
        bottom: desktop-vw(-3px);
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        height: 1px;
        background-color: var(--color-teal);
      }
    }
  }
}

.arrow {
  position: relative;

  &::before {
    transition: transform 300ms ease;
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: var(--color-mint);
    border-radius: desktop-vw(10px);
    z-index: 0;
  }

  &::after {
    content: "";
    transition: transform 300ms ease;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: var(--color-mint);
    border-radius: desktop-vw(10px);
  }
}
