.wrapper {
  height: 100vh;

  .inner {
    @media (--desktop) {
      margin-inline: auto;
      max-width: desktop-vw(1360px);
      height: 100%;
    }
  }

  .arrowCTA {
    svg {
      transform: rotate(135deg);
    }
  }

  .arrowDown {
    transform: translate(-50%, 0%) translate(0px, 50%);
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.5);
  }
}
