.arrowCTA {
  svg {
    transform: rotate(135deg);
  }
}

.arrowDown {
  transform: translate(-50%, 0%) translate(0px, 50%);
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.5);
}

.inner {
  box-shadow: 0 0 56px 16px rgba(127, 255, 195, 0.25);
}
