.banner,
.card {
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  background: var(--color-white);

  @media (--hover) {
    &:hover {
      box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
      border-style: dashed;
      border-color: var(--color-teal);

      .cardHeader {
        background-color: var(--color-ghost-mint);
        border-color: var(--color-dark-teal);
      }
    }
  }
}

.cardHeader {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}
