.cardWrapper {
  position: relative;

  @media (--hover) {
    &:hover {
      .cardRing {
        opacity: 0.8;
      }
    }
  }
}

.banner,
.card {
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  background: var(--color-white);

  /* Active state variables */
  --active-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);
  --active-header-bg: var(--color-ghost-mint);
  --active-header-border: var(--color-dark-teal);

  @media (--hover) {
    &:hover {
      box-shadow: var(--active-shadow);
      border-style: dashed;
      border-color: var(--active-header-border);

      .cardHeader {
        background-color: var(--active-header-bg);
        border-color: var(--active-header-border);
      }
    }
  }

  &.active {
    @media (--mobile) {
      box-shadow: var(--active-shadow);
      border-style: dashed;
      border-color: var(--color-teal);

      .cardHeader {
        background-color: var(--active-header-bg);
        border-color: var(--active-header-border);
      }
    }
  }
}

.cardRing {
  position: absolute;
  inset: calc(-1 * mobile-vw(7px));
  border-radius: mobile-vw(28px);
  background-color: var(--color-off-white);
  transition: opacity 0.3s ease;
  opacity: 0;

  @media (--desktop) {
    inset: calc(-1 * desktop-vw(7px));
    border-radius: desktop-vw(28px);
  }
}

.cardHeader {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}
