.container {
  transform: rotate(calc(var(--highlight-progress, 0) * 5deg))
    skewX(calc(var(--highlight-progress, 0) * -10deg));
}

.chatMessages {
  transform: translateY(
    calc(desktop-vw(508) - var(--chat-translate-y, 0) * desktop-vw(1))
  );
}

/* .logo {
  transform: rotate(calc(var(--logo-rotate, 0) * 1deg))
    translateY(calc(var(--logo-translate-y, 0) * desktop-vw(-1) + 50%));
} */

.confirmingBackground {
  width: calc(
    desktop-vw(80) +
    var(--added-to-calendar-progress, 0) *
    desktop-vw(247)
  );
}

.chatOverlayBackground {
  background: repeating-linear-gradient(
    -45deg,
    #d3f0e3,
    #d3f0e3 1px,
    rgba(255, 255, 255, 0.7) 1px,
    rgba(255, 255, 255, 0.7) 6px
  );
}

.yesButtonBackground {
  background: repeating-linear-gradient(
    -45deg,
    #bfe0d1,
    #bfe0d1 1px,
    rgba(255, 255, 255, 0) 1px,
    rgba(255, 255, 255, 0) 6px
  );
}
