.container {
  transform: rotate(calc(var(--highlight-progress, 0) * 5deg))
    skewX(calc(var(--highlight-progress, 0) * -10deg));
}

.chatMessages {
  transform: translateY(
    calc(desktop-vw(508) - var(--chat-translate-y, 0) * desktop-vw(1))
  );
}

/* .logo {
  transform: rotate(calc(var(--logo-rotate, 0) * 1deg))
    translateY(calc(var(--logo-translate-y, 0) * desktop-vw(-1) + 50%));
} */
