.card {
  &:hover {
    box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);

    .cardHeader {
      box-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);
    }
  }
}

.person {
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  @media (--hover) {
    &:hover {
      border-style: dashed;
      border-color: color-mix(in srgb, var(--color-forest) 50%, transparent);
      box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);

      .role {
        background-color: var(--color-ghost-mint);
      }
    }
  }
}

.role {
  transition: background-color 0.3s ease;
}

.marquee {
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent 0,
    black desktop-vw(50px),
    black calc(100% - desktop-vw(50px)),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    black desktop-vw(50px),
    black calc(100% - desktop-vw(50px)),
    transparent 100%
  );
}
