.mapTooltip {
  clip-path: inset(0 calc(100% - desktop-vw(32px)) 0 0 round desktop-vw(16px));
  transition: clip-path 0.3s ease-in-out;

  @media (--hover) {
    &:hover {
      clip-path: inset(0 0 0 0 round desktop-vw(16px));
    }
  }
}

.pois {
  .pin {
    svg {
      path {
        transition: fill 0.3s ease-in-out;
      }
    }
  }

  .button {
    transition:
      opacity 0.3s ease-in-out,
      width 0.3s ease-in-out,
      padding-right 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;

    .text {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    .icon {
      svg {
        transition: opacity 0.3s ease-in-out;
        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }

    .hashPattern {
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }
  }

  @media (--hover) {
    &:hover {
      .button {
        background-color: var(--color-black);
        border-color: var(--color-teal);
        box-shadow: 0 0 16px 0px rgba(127, 255, 195, 0.7);
        width: 100%;
        padding-right: desktop-vw(24px);

        .text {
          opacity: 1;
        }

        .icon {
          background-color: var(--color-teal);

          svg {
            &:first-child {
              opacity: 1;
            }

            &:last-child {
              opacity: 0;
            }
          }
        }

        .hashPattern {
          opacity: 0.2;
        }
      }

      .pin {
        svg {
          path {
            fill: var(--color-teal);
          }
        }
      }
    }
  }
}
