.container {
  transform: rotate(calc(var(--highlight-progress, 0) * 5deg))
    skewX(calc(var(--highlight-progress, 0) * -10deg));
}

.chatMessages {
  transform: translateY(
    calc(device-vw(508) - var(--chat-translate-y, 0) * device-vw(1))
  );
}

/* .logo {
  transform: rotate(calc(var(--logo-rotate, 0) * 1deg))
    translateY(calc(var(--logo-translate-y, 0) * desktop-vw(-1) + 50%));
} */

.confirmingBackground {
  width: calc(
    device-vw(80) +
    var(--added-to-calendar-progress, 0) *
    device-vw(247)
  );
}

.chatOverlayBackground {
  background: repeating-linear-gradient(
    -45deg,
    #d3f0e3,
    #d3f0e3 1px,
    rgba(255, 255, 255, 0.7) 1px,
    rgba(255, 255, 255, 0.7) 6px
  );
}

.yesButtonBackground {
  background: repeating-linear-gradient(
    -45deg,
    #bfe0d1,
    #bfe0d1 1px,
    rgba(255, 255, 255, 0) 1px,
    rgba(255, 255, 255, 0) 6px
  );
}

.mcpFeature {
  &:nth-of-type(1),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    opacity: calc(1.5 - var(--mcp-update-calendar-progress, 0));
  }

  &:nth-of-type(2) {
    background-color: color-mix(
      in srgb,
      var(--color-mint) calc(var(--mcp-update-calendar-progress, 0) * 100%),
      transparent
    );

    & div {
      background-color: color-mix(
        in srgb,
        var(--color-black) calc(var(--mcp-update-calendar-progress, 0) * 100%),
        var(--color-white)
      );
      color: color-mix(
        in srgb,
        var(--color-mint) calc(var(--mcp-update-calendar-progress, 0) * 100%),
        var(--color-black)
      );
    }
  }
}
