.mainInvestor {
  transition:
    background-color 0.3s ease,
    border 0.3s ease;

  @media (--hover) {
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-off-white) 80%,
        transparent
      );
      border-color: transparent;
      .mainContent {
        border-style: dashed;
        border-color: color-mix(in oklch, var(--color-forest) 50%, transparent);
        box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
      }
    }
  }
}

.mainContent {
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.wrapper {
  @media (--hover) {
    &:hover {
      .investor {
        border-style: dashed;
        border-color: color-mix(in oklch, var(--color-forest) 50%, transparent);
        box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
      }

      .rim {
        opacity: 1;
      }

      .position {
        background-color: var(--color-ghost-mint);
      }
    }
  }
}

.investor {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.position {
  transition: background-color 0.3s ease;
}

.rim {
  position: absolute;
  inset: calc(-1 * desktop-vw(8px));
  background-color: color-mix(in srgb, var(--color-off-white) 80%, transparent);
  border-radius: desktop-vw(28px);
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.3s ease;
}
