.card {
  transition:
    padding-bottom 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;

  @media (--hover) {
    &:hover {
      @media (--desktop) {
        padding-bottom: desktop-vw(132px);
        background-color: var(--color-black);
        box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
        border-color: var(--color-teal);
      }

      .title {
        color: var(--color-teal);

        &::before {
          transform: scaleX(1);
        }
      }

      .cardContent {
        opacity: 1;
      }

      .cardImage {
        border-color: var(--color-teal);
      }

      .pattern {
        opacity: 1;
      }

      .plus {
        opacity: 0;
        transform: rotate(90deg);
      }

      .arrow {
        opacity: 1;
        transform: rotate(0) scale(1);
      }

      .button {
        background-color: var(--color-teal);

        &::before {
          transform: scale(1.25);
        }

        &::after {
          transform: scale(1.5);
        }
      }
    }
  }
}

.cardImage {
  transition: border-color 0.3s ease;
}

.title {
  position: relative;
  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: var(--color-teal);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
}

.cardContent {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pattern {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.plus {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  path {
    stroke: var(--color-teal);
  }
}

.arrow {
  opacity: 0;
  transform: rotate(-90deg) scale(0.5);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.button {
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-mint);
    border-radius: desktop-vw(10px);
    transition: transform 0.3s ease;
  }

  &::before {
    z-index: -1;
    opacity: 0.4;
  }

  &::after {
    z-index: -1;
    opacity: 0.2;
  }
}

.personCard {
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    border-style 0.3s ease;
  @media (--hover) {
    &:hover {
      box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
      border-color: var(--color-teal);
      border-style: dashed;
    }
  }
}

/* .inViewport {
  background-color: var(--color-black);
  transition: background-color 600ms ease;
} */

.marquee {
  position: relative;
  padding: desktop-vw(40px) 0;
  margin-top: calc(-1 * desktop-vw(40px));
  mask-image: linear-gradient(
    to right,
    transparent 0,
    black desktop-vw(50px),
    black calc(100% - desktop-vw(50px)),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    black desktop-vw(50px),
    black calc(100% - desktop-vw(50px)),
    transparent 100%
  );

  /* &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: desktop-vw(50px);
    height: 100%;
    background: linear-gradient(
      to right,
      var(--solid-bg-color, var(--color-black)),
      transparent
    );
    z-index: 1;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: desktop-vw(50px);
    height: 100%;
    background: linear-gradient(
      to left,
      var(--solid-bg-color, var(--color-black)),
      transparent
    );
    z-index: 1;
    pointer-events: none;
  } */
}
